In [36]:
# read order_items data to csv format
read_file_two = pd.read_csv(r'C:/Users/momad/Desktop/order_items.txt')
file_two = read_file_two.to_csv(r'Order_items.csv', index=None)

In [40]:
import sqlalchemy as sa

con = sa.create_engine('postgresql://postgres:postgres@localhost/business_metrics')
chunks = pd.read_csv('Orders.csv', chunksize=100000)
for chunk in chunks:
    chunk.to_sql(name='orders', con=con)

In [42]:
df = pd.read_csv('Orders.csv')
df.head()

         id\tordered_at\tdelivered_at\tdelivered_to
0  0\t2015-08-19 22:01:25\t2015-08-19 22:19:41\t767
1  1\t2015-11-16 00:12:29\t2015-11-16 00:40:18\t847
2  2\t2015-11-27 08:06:06\t2015-11-27 08:08:15\t972
3  3\t2015-10-14 01:16:42\t2015-10-14 01:25:10\t390
4  4\t2015-11-28 05:10:27\t2015-11-28 05:16:24\t914

In [49]:

#!/usr/bin/python
# -*- coding: utf-8 -*-

import sqlite3

import unicodecsv


con = sqlite3.connect('my.db')
cur = con.cursor()
cur.execute('CREATE TABLE Customer_orders (id INT, ordered_at DATE, delivered_at DATE, delivered_to INT, PRIMARY KEY (id))')

with open('orders.tab', 'rb') as input_file:
    reader = unicodecsv.reader('C:/Users/momad/Desktop/orders.txt', delimiter="\t")
    data = [row for row in reader]

cur.executemany("INSERT INTO Customer_orders (id, ordered_at, delivered_at, delivered_to) VALUES (?, ?, ?);", data)
con.commit()

FileNotFoundError: [Errno 2] No such file or directory: 'orders.tab'

In [26]:
import sqlite3

import unicodecsv


con = sqlite3.connect('mycorpus.db')
cur = con.cursor()
cur.execute("CREATE TABLE Corpus(sid INT, scid INT, sent TEXT, PRIMARY KEY (sid))")

with open('corpus.tab', 'rb') as input_file:
    reader = unicodecsv.reader(input_file, delimiter="\t")
    data = [row for row in reader]

cur.executemany("INSERT INTO Corpus (sid, scid, sent) VALUES (?, ?, ?);", data)
con.commit()